<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="http://172.30.1.15:5000/#home">MOHAE DESIGN</a>
        <input type="hidden" id="screen_check" value={{ screen }}>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="http://172.30.1.15:5000/#home">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="http://172.30.1.15:5000/#about">ABOUT</a></li>
                <li class="nav-item dropdown"><a class="nav-link" id="nav_project" href="http://172.30.1.15:5000/#project">PROJECT</a>
                  <div id="myDropdown" class="dropdown-content" style="text-align:right">
                    {% for item in project_list %}
                    <a style="color:black; text-align:right; font-size: 8px; text-decoration: none;" href="http://172.30.1.15:5000/project_description?project_name={{ item.project_name }}">{{ item.project_name }}</a><br>
                    {% endfor %}
                  </div></li>
                <li class="nav-item"><a class="nav-link" href="http://172.30.1.15:5000/#workprocess">WORK PROCESS</a></li>
                <li class="nav-item"><a class="nav-link" id="nav_consultant" href="http://172.30.1.15:5000/consultant">CONSULTANT</a></li>
            </ul>
        </div>
    </div>
</nav>
