<!-- about-->
<section class="page-section" id="about">
    <h2 class="text-center mt-0 ">
        <span style="font-style:italic;">.about</span>
    </h2>
    <hr class="aboutDivider"/>
    <!--<div class="container px-lg-6  ">-->
    <div class="container px-4 px-lg-5 " style="text-align:left;" >
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 text-center">
          <div class="mb-4 text-start" >
              <p class="mb-0 ">주식회사 MOHAE는 디자인을 통해 "사용자중심의 편안하고 세련된 공간 설계"를 구현하여</p>
              <p class="mb-0 ">주거 문화의 실질적 변화를 가져오는 것을 목표로 하고 있습니다.</p>
              <p></p>
              <p class="mb-0 ">삶과 밀접되어 있는 주거 환경의 새로운 제안으로 이전과는 다른 공간을 통한 삶의 만족도를 높여 드리겠습니다.</p>
              <p></p>
              <p class="mb-0 ">MOHAE는 고객의 만족을 무엇보다 우선으로 하며,</p>
              <p class="mb-0 ">고객님과의 지속적인 소통을 통하여 형성되는 믿음과 신뢰를 바탕으로 공사를 진행하고 있습니다.</p>
              <p></p>
              <p class="mb-0 ">정직함에 MOHAE 만의 값어치를 담아내어 모두가 만족하는 디자인을 만들어 가겠습니다.</p>
          </div>
        </div>
      </div>
    </div>

</section>
