
<!-- project-->
<section class="page-section" id="project">
    <h2 class="text-center mt-0 ">
        <span style="font-style:italic;">.project</span>
    </h2>
    <hr class="aboutDivider"/>
    <!-- Gallery -->
    <div class="row col-md-11" style="margin:auto">
      {% for item in items %}
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 hover11 " >
          <a href="http://172.30.1.15:5000/project_description?project_name={{ item.project_name }}">
            <figure class="figurefx pushup">
              <img
              src="{{ item.imgs }}"
              class="w-100 shadow-1-strong rounded mb-2"
              style="height:870px"
              />
              <figcaption>{{ item.project_name }}</figcaption>
            </figure>
          </a>
        </div>
      {% endfor %}
    </div>
</section>
